<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body class="container">
<div class="col-md-6 col-md-offset-3">
    <h1>How does it work ?</h1>
    <h2>Hello someone</h2>
    <p>
        Add /hello/someone to the url and replace "someone" with your actual name so we can greet you properly !
        <br/><br/>
        Go to <a href="http://localhost:8080/hello/someone">http://localhost:8080/hello/someone</a>
    </p>

    <h2>Metrics</h2>
    <p>
        Add /hello to the url to see the metrics. <br/>
        Go to <a href="http://localhost:8080/hello/">http://localhost:8080/hello</a>
    </p>
</div>
</body>
</html>